body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:810px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u864_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:810px;
  height:54px;
}
#u864 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:52px;
  width:810px;
  height:54px;
  font-size:28px;
}
#u864_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:806px;
  word-wrap:break-word;
}
#u865_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:487px;
  height:42px;
}
#u865 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:10px;
  width:487px;
  height:42px;
  font-size:18px;
  color:#00CC00;
}
#u865_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:483px;
  word-wrap:break-word;
}
#u866_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:810px;
  height:481px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 153, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#00CC00;
}
#u866 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:106px;
  width:810px;
  height:481px;
  color:#00CC00;
}
#u866_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u867_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:42px;
}
#u867 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:106px;
  width:135px;
  height:42px;
  font-size:18px;
  color:#000000;
  text-align:left;
}
#u867_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:131px;
  word-wrap:break-word;
}
#u868_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u868 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:189px;
  width:84px;
  height:27px;
  font-size:16px;
}
#u868_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:80px;
  word-wrap:break-word;
}
#u869_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 102, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#000000;
  text-align:left;
}
#u869 {
  border-width:0px;
  position:absolute;
  left:112px;
  top:189px;
  width:178px;
  height:28px;
  font-size:14px;
  color:#000000;
  text-align:left;
}
#u869_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:174px;
  word-wrap:break-word;
}
#u870_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u870 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:241px;
  width:84px;
  height:27px;
  font-size:16px;
}
#u870_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:80px;
  word-wrap:break-word;
}
#u871_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:397px;
  height:61px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 102, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#000000;
  text-align:left;
}
#u871 {
  border-width:0px;
  position:absolute;
  left:112px;
  top:241px;
  width:397px;
  height:61px;
  font-size:14px;
  color:#000000;
  text-align:left;
}
#u871_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:393px;
  word-wrap:break-word;
}
#u872_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u872 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:322px;
  width:84px;
  height:27px;
  font-size:16px;
}
#u872_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:80px;
  word-wrap:break-word;
}
#u873_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u873 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:373px;
  width:84px;
  height:27px;
  font-size:16px;
}
#u873_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:80px;
  word-wrap:break-word;
}
#u874_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u874 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:423px;
  width:84px;
  height:27px;
  font-size:16px;
}
#u874_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:80px;
  word-wrap:break-word;
}
#u875_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u875 {
  border-width:0px;
  position:absolute;
  left:327px;
  top:514px;
  width:87px;
  height:40px;
}
#u875_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:83px;
  word-wrap:break-word;
}
#u876 {
  border-width:0px;
  position:absolute;
  left:112px;
  top:378px;
  width:178px;
  height:22px;
}
#u876_input {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u876_input:disabled {
  color:grayText;
}
#u877 {
  border-width:0px;
  position:absolute;
  left:112px;
  top:428px;
  width:178px;
  height:22px;
}
#u877_input {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u877_input:disabled {
  color:grayText;
}
#u878 {
  border-width:0px;
  position:absolute;
  left:112px;
  top:325px;
  width:178px;
  height:22px;
}
#u878_input {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u878_input:disabled {
  color:grayText;
}
#u879_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u879 {
  border-width:0px;
  position:absolute;
  left:437px;
  top:514px;
  width:87px;
  height:40px;
}
#u879_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:83px;
  word-wrap:break-word;
}
#u880_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:7px;
}
#u880 {
  border-width:0px;
  position:absolute;
  left:239px;
  top:531px;
  width:75px;
  height:7px;
}
#u880_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u881_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:42px;
}
#u881 {
  border-width:0px;
  position:absolute;
  left:75px;
  top:512px;
  width:164px;
  height:42px;
  font-size:16px;
  text-decoration:underline;
  color:#FF0000;
  text-align:left;
}
#u881_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:160px;
  word-wrap:break-word;
}
#u882_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u882 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:142px;
  width:150px;
  height:27px;
  font-size:16px;
}
#u882_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:146px;
  word-wrap:break-word;
}
#u883_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:42px;
}
#u883 {
  border-width:0px;
  position:absolute;
  left:604px;
  top:251px;
  width:184px;
  height:42px;
  font-size:16px;
  text-decoration:underline;
  color:#FF0000;
  text-align:left;
}
#u883_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:180px;
  word-wrap:break-word;
}
#u884_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:7px;
}
#u884 {
  border-width:0px;
  position:absolute;
  left:519px;
  top:268px;
  width:75px;
  height:7px;
}
#u884_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u885_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:42px;
}
#u885 {
  border-width:0px;
  position:absolute;
  left:695px;
  top:58px;
  width:42px;
  height:42px;
}
#u885_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:38px;
  word-wrap:break-word;
}
#u886_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-decoration:underline;
  color:#FF6633;
}
#u886 {
  border-width:0px;
  position:absolute;
  left:740px;
  top:64px;
  width:57px;
  height:31px;
  font-size:16px;
  text-decoration:underline;
  color:#FF6633;
}
#u886_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:53px;
  word-wrap:break-word;
}
