body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:800px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u194_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:600px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 102, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u194 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:600px;
}
#u194_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u195_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:54px;
}
#u195 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:54px;
  font-size:28px;
}
#u195_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:796px;
  word-wrap:break-word;
}
#u196 {
  border-width:0px;
  position:absolute;
  left:278px;
  top:352px;
  width:62px;
  height:16px;
}
#u196_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:44px;
  word-wrap:break-word;
}
#u196_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u197 {
  border-width:0px;
  position:absolute;
  left:364px;
  top:352px;
  width:62px;
  height:16px;
}
#u197_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:44px;
  word-wrap:break-word;
}
#u197_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u198 {
  border-width:0px;
  position:absolute;
  left:449px;
  top:352px;
  width:62px;
  height:16px;
}
#u198_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:44px;
  word-wrap:break-word;
}
#u198_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u199_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:35px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u199 {
  border-width:0px;
  position:absolute;
  left:345px;
  top:392px;
  width:101px;
  height:35px;
}
#u199_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:97px;
  word-wrap:break-word;
}
#u200_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:54px;
}
#u200 {
  border-width:0px;
  position:absolute;
  left:250px;
  top:133px;
  width:300px;
  height:54px;
  font-size:18px;
}
#u200_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:296px;
  word-wrap:break-word;
}
#u201_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u201 {
  border-width:0px;
  position:absolute;
  left:218px;
  top:215px;
  width:58px;
  height:27px;
}
#u201_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:54px;
  word-wrap:break-word;
}
#u202_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u202 {
  border-width:0px;
  position:absolute;
  left:218px;
  top:262px;
  width:58px;
  height:27px;
}
#u202_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:54px;
  word-wrap:break-word;
}
#u203 {
  border-width:0px;
  position:absolute;
  left:286px;
  top:216px;
  width:246px;
  height:25px;
}
#u203_input {
  position:absolute;
  left:0px;
  top:0px;
  width:246px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u204 {
  border-width:0px;
  position:absolute;
  left:286px;
  top:263px;
  width:246px;
  height:25px;
}
#u204_input {
  position:absolute;
  left:0px;
  top:0px;
  width:246px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u205 {
  border-width:0px;
  position:absolute;
  left:470px;
  top:402px;
  width:62px;
  height:16px;
}
#u205_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:44px;
  word-wrap:break-word;
}
#u205_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u206_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:42px;
}
#u206 {
  border-width:0px;
  position:absolute;
  left:356px;
  top:462px;
  width:89px;
  height:42px;
  font-size:16px;
  text-decoration:underline;
  color:#FF0000;
  text-align:left;
}
#u206_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:85px;
  word-wrap:break-word;
}
#u207_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-decoration:underline;
}
#u207 {
  border-width:0px;
  position:absolute;
  left:255px;
  top:396px;
  width:58px;
  height:27px;
  text-decoration:underline;
}
#u207_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:54px;
  word-wrap:break-word;
}
