body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:976px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u694_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:810px;
  height:54px;
}
#u694 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:52px;
  width:810px;
  height:54px;
  font-size:28px;
}
#u694_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:806px;
  word-wrap:break-word;
}
#u695_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:499px;
  height:42px;
}
#u695 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:10px;
  width:499px;
  height:42px;
  font-size:18px;
  color:#00CC00;
}
#u695_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:495px;
  word-wrap:break-word;
}
#u696 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u697_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:810px;
  height:312px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 153, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0066FF;
}
#u697 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:106px;
  width:810px;
  height:312px;
  color:#0066FF;
}
#u697_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u698_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:42px;
}
#u698 {
  border-width:0px;
  position:absolute;
  left:31px;
  top:138px;
  width:135px;
  height:42px;
  font-size:18px;
  color:#000000;
  text-align:left;
}
#u698_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:131px;
  word-wrap:break-word;
}
#u699_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u699 {
  border-width:0px;
  position:absolute;
  left:31px;
  top:190px;
  width:58px;
  height:27px;
  font-size:16px;
}
#u699_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:54px;
  word-wrap:break-word;
}
#u700_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 102, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#000000;
  text-align:left;
}
#u700 {
  border-width:0px;
  position:absolute;
  left:89px;
  top:190px;
  width:178px;
  height:28px;
  font-size:14px;
  color:#000000;
  text-align:left;
}
#u700_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:174px;
  word-wrap:break-word;
}
#u701_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u701 {
  border-width:0px;
  position:absolute;
  left:292px;
  top:190px;
  width:58px;
  height:27px;
  font-size:16px;
}
#u701_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:54px;
  word-wrap:break-word;
}
#u702_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 102, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#000000;
  text-align:left;
}
#u702 {
  border-width:0px;
  position:absolute;
  left:350px;
  top:190px;
  width:189px;
  height:28px;
  font-size:14px;
  color:#000000;
  text-align:left;
}
#u702_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:185px;
  word-wrap:break-word;
}
#u703_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u703 {
  border-width:0px;
  position:absolute;
  left:31px;
  top:236px;
  width:58px;
  height:27px;
  font-size:16px;
}
#u703_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:54px;
  word-wrap:break-word;
}
#u704_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 102, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#000000;
  text-align:left;
}
#u704 {
  border-width:0px;
  position:absolute;
  left:89px;
  top:236px;
  width:178px;
  height:28px;
  font-size:14px;
  color:#000000;
  text-align:left;
}
#u704_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:174px;
  word-wrap:break-word;
}
#u705_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u705 {
  border-width:0px;
  position:absolute;
  left:346px;
  top:335px;
  width:87px;
  height:40px;
}
#u705_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:83px;
  word-wrap:break-word;
}
#u706_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u706 {
  border-width:0px;
  position:absolute;
  left:464px;
  top:335px;
  width:87px;
  height:40px;
}
#u706_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:83px;
  word-wrap:break-word;
}
#u707_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:7px;
}
#u707 {
  border-width:0px;
  position:absolute;
  left:261px;
  top:352px;
  width:75px;
  height:7px;
}
#u707_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u708_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:42px;
}
#u708 {
  border-width:0px;
  position:absolute;
  left:97px;
  top:333px;
  width:164px;
  height:42px;
  font-size:16px;
  text-decoration:underline;
  color:#FF0000;
  text-align:left;
}
#u708_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:160px;
  word-wrap:break-word;
}
#u709_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#00CC00;
}
#u709 {
  border-width:0px;
  position:absolute;
  left:862px;
  top:266px;
  width:120px;
  height:27px;
  font-size:16px;
  color:#00CC00;
}
#u709_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-6px;
  width:116px;
  word-wrap:break-word;
}
#u710_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:7px;
}
#u710 {
  border-width:0px;
  position:absolute;
  left:777px;
  top:276px;
  width:75px;
  height:7px;
}
#u710_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u711_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:42px;
}
#u711 {
  border-width:0px;
  position:absolute;
  left:687px;
  top:58px;
  width:42px;
  height:42px;
}
#u711_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:38px;
  word-wrap:break-word;
}
#u712_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-decoration:underline;
  color:#FF6633;
}
#u712 {
  border-width:0px;
  position:absolute;
  left:732px;
  top:64px;
  width:57px;
  height:31px;
  font-size:16px;
  text-decoration:underline;
  color:#FF6633;
}
#u712_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:53px;
  word-wrap:break-word;
}
#u713_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:371px;
  height:42px;
}
#u713 {
  border-width:0px;
  position:absolute;
  left:204px;
  top:428px;
  width:371px;
  height:42px;
  font-size:14px;
  color:#00CC00;
  text-align:left;
}
#u713_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:367px;
  word-wrap:break-word;
}
#u714 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u715_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:810px;
  height:312px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 153, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0066FF;
}
#u715 {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:470px;
  width:810px;
  height:312px;
  color:#0066FF;
}
#u715_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u716_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:42px;
}
#u716 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:502px;
  width:135px;
  height:42px;
  font-size:18px;
  color:#000000;
  text-align:left;
}
#u716_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:131px;
  word-wrap:break-word;
}
#u717_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u717 {
  border-width:0px;
  position:absolute;
  left:340px;
  top:699px;
  width:87px;
  height:40px;
}
#u717_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:83px;
  word-wrap:break-word;
}
#u718_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u718 {
  border-width:0px;
  position:absolute;
  left:458px;
  top:699px;
  width:87px;
  height:40px;
}
#u718_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:83px;
  word-wrap:break-word;
}
#u719_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:7px;
}
#u719 {
  border-width:0px;
  position:absolute;
  left:255px;
  top:716px;
  width:75px;
  height:7px;
}
#u719_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u720_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:42px;
}
#u720 {
  border-width:0px;
  position:absolute;
  left:91px;
  top:697px;
  width:164px;
  height:42px;
  font-size:16px;
  text-decoration:underline;
  color:#FF0000;
  text-align:left;
}
#u720_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:160px;
  word-wrap:break-word;
}
#u721_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#00CC00;
}
#u721 {
  border-width:0px;
  position:absolute;
  left:856px;
  top:630px;
  width:120px;
  height:27px;
  font-size:16px;
  color:#00CC00;
}
#u721_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-6px;
  width:116px;
  word-wrap:break-word;
}
#u722_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:7px;
}
#u722 {
  border-width:0px;
  position:absolute;
  left:771px;
  top:640px;
  width:75px;
  height:7px;
}
#u722_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u723_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u723 {
  border-width:0px;
  position:absolute;
  left:31px;
  top:573px;
  width:58px;
  height:27px;
  font-size:16px;
}
#u723_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:54px;
  word-wrap:break-word;
}
#u724_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 102, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#000000;
  text-align:left;
}
#u724 {
  border-width:0px;
  position:absolute;
  left:89px;
  top:573px;
  width:178px;
  height:28px;
  font-size:14px;
  color:#000000;
  text-align:left;
}
#u724_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:174px;
  word-wrap:break-word;
}
#u725_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u725 {
  border-width:0px;
  position:absolute;
  left:292px;
  top:573px;
  width:58px;
  height:27px;
  font-size:16px;
}
#u725_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:54px;
  word-wrap:break-word;
}
#u726_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 102, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#000000;
  text-align:left;
}
#u726 {
  border-width:0px;
  position:absolute;
  left:350px;
  top:573px;
  width:189px;
  height:28px;
  font-size:14px;
  color:#000000;
  text-align:left;
}
#u726_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:185px;
  word-wrap:break-word;
}
#u727_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u727 {
  border-width:0px;
  position:absolute;
  left:31px;
  top:619px;
  width:58px;
  height:27px;
  font-size:16px;
}
#u727_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:54px;
  word-wrap:break-word;
}
#u728_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 102, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#000000;
  text-align:left;
}
#u728 {
  border-width:0px;
  position:absolute;
  left:89px;
  top:619px;
  width:178px;
  height:28px;
  font-size:14px;
  color:#000000;
  text-align:left;
}
#u728_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:174px;
  word-wrap:break-word;
}
#u729 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u730_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:810px;
  height:312px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 153, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0066FF;
}
#u730 {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:838px;
  width:810px;
  height:312px;
  color:#0066FF;
}
#u730_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u731_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:42px;
}
#u731 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:870px;
  width:135px;
  height:42px;
  font-size:18px;
  color:#000000;
  text-align:left;
}
#u731_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:131px;
  word-wrap:break-word;
}
#u732_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u732 {
  border-width:0px;
  position:absolute;
  left:340px;
  top:1067px;
  width:87px;
  height:40px;
}
#u732_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:83px;
  word-wrap:break-word;
}
#u733_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u733 {
  border-width:0px;
  position:absolute;
  left:458px;
  top:1067px;
  width:87px;
  height:40px;
}
#u733_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:83px;
  word-wrap:break-word;
}
#u734_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:7px;
}
#u734 {
  border-width:0px;
  position:absolute;
  left:255px;
  top:1084px;
  width:75px;
  height:7px;
}
#u734_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u735_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:42px;
}
#u735 {
  border-width:0px;
  position:absolute;
  left:91px;
  top:1065px;
  width:164px;
  height:42px;
  font-size:16px;
  text-decoration:underline;
  color:#FF0000;
  text-align:left;
}
#u735_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:160px;
  word-wrap:break-word;
}
#u736_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#00CC00;
}
#u736 {
  border-width:0px;
  position:absolute;
  left:856px;
  top:998px;
  width:120px;
  height:27px;
  font-size:16px;
  color:#00CC00;
}
#u736_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-6px;
  width:116px;
  word-wrap:break-word;
}
#u737_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:7px;
}
#u737 {
  border-width:0px;
  position:absolute;
  left:771px;
  top:1008px;
  width:75px;
  height:7px;
}
#u737_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u738_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u738 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:922px;
  width:58px;
  height:27px;
  font-size:16px;
}
#u738_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:54px;
  word-wrap:break-word;
}
#u739_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 102, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#000000;
  text-align:left;
}
#u739 {
  border-width:0px;
  position:absolute;
  left:83px;
  top:922px;
  width:178px;
  height:28px;
  font-size:14px;
  color:#000000;
  text-align:left;
}
#u739_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:174px;
  word-wrap:break-word;
}
#u740_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u740 {
  border-width:0px;
  position:absolute;
  left:286px;
  top:922px;
  width:58px;
  height:27px;
  font-size:16px;
}
#u740_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:54px;
  word-wrap:break-word;
}
#u741_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 102, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#000000;
  text-align:left;
}
#u741 {
  border-width:0px;
  position:absolute;
  left:344px;
  top:922px;
  width:189px;
  height:28px;
  font-size:14px;
  color:#000000;
  text-align:left;
}
#u741_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:185px;
  word-wrap:break-word;
}
#u742_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u742 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:968px;
  width:58px;
  height:27px;
  font-size:16px;
}
#u742_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:54px;
  word-wrap:break-word;
}
#u743_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 102, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#000000;
  text-align:left;
}
#u743 {
  border-width:0px;
  position:absolute;
  left:83px;
  top:968px;
  width:178px;
  height:28px;
  font-size:14px;
  color:#000000;
  text-align:left;
}
#u743_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:174px;
  word-wrap:break-word;
}
